body, html {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #333;
}

.topbar {
    display: flex;
    color: black;
    justify-content: space-between;
    align-items: center; 
    background-color: whitesmoke; 
    width: 100%; 
    position: fixed;
}

.first {
    padding-top: 2%;
}

.second {
    display: flex;
    margin-left: 30%;
    margin-right: 30%;
    text-align: justify;
    font-size: 20px;
}
 
.second2 {
    display: flex;
    margin-left: 30%;
    margin-right: 30%;
    text-align: justify;
    font-size: 20px;
    padding-top: 1%;
}
.unorderedlist {
    padding-right: 10%;
}

.content {
    max-width: 40%;
    width: 100%;
    border-radius: 5%;
}


.content2 {
    max-width: 40%;
    width: 100%;
    border-radius: 5%;
    max-height: 370px;
    margin-top: 5%;
}
.text2 {
    padding-left: 5%;
}

.text1 {
    padding-left: 5%;
    padding-top: 8%;
}

.topleft {
    text-align: left;
    margin-left: 30px;
    font-weight: bold;
    color: black;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 18px;
}

.topright {
    text-align: right;
    padding-right: 30px;
}
hr {
    max-width: 60%;
    margin-top: 2%;
    margin-bottom: 2%;
    height: 5px;
    background-color: #000;
}
a {
    text-decoration: none;
}

.topleft {
    text-align: left;
    margin-left: 30px;
    font-weight: bold;
    color: black;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 18px;
}

.topright {
    text-align: right;
    padding-right: 30px;
}

.main {
    display: flex;
    padding-top: 5%;
    justify-content: center;
}


.dropbtn {
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover {
    background-color: #333;
    transition: opacity 0.3s ease;
}



.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 1%;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: lightgray;
    min-width: 160px;
    box-shadow: black;
    right: 2px;
}


.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #333;
    text-align: left;
}


.dropdown-content a:hover {
    background-color: #ddd;
    transition: opacity 0.3s ease;
}

/* Show the dropdown menu when the button is hovered over */
.dropdown:hover .dropdown-content {
    display: block;
}

.image-container {
    position: relative;
    display: inline-block; 
  }
  
  .subtitle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: black;
    padding: 5px;
    text-align: center;
    font-size: 16px;
    opacity: 0; 
    transition: opacity 0.3s ease; 
  }
  
  .image-container:hover .subtitle {
    opacity: 1; 
  } 

  