body, html {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #333;
}



.topbar {
    display: flex;
    color: black;
    justify-content: space-between;
    align-items: center; 
    background-color: whitesmoke; 
    width: 100%; 
    position: fixed;
}

.dropbtn {
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover {
    background-color: #333;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 1%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: lightgray;
    min-width: 160px;
    box-shadow: black;
    right: 2px;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #333;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.topleft {
    text-align: left;
    margin-left: 30px;
    font-weight: bold;
    color: black;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 18px;
}

.topright {
    text-align: right;
    padding-right: 30px;
}
.dropdown:hover .dropdown-content {
    display: block;
}


.main {
    display: flex;
    padding-top: 5%;
    justify-content: center;    
    font-size: larger;
    width: 100;
}

.main2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.full {
    display: flex;
    justify-content: center;
}

.left {
    font-size: smaller; 
    padding-left: 100px;
}

.a{
    display: flex;
    width: 100%;
    padding-left: 25%;
    align-items: center;
    max-width: 60%;
    
}

.q1 {
    display: flex;
    width: 100%;
    padding-left: 25%;
    align-items: center;
}

.q {
    max-width: 5%;
}

hr {
    max-width: 60%;
    margin-top: 2%;
    margin-bottom: 2%;
    height: 5px;
    background-color: #000;
}

input[type="text"] {
    width: 50%; 
    padding: 7px; 
    font-size: 12px; 
}

.topleft {
    text-align: left;
    margin-left: 30px;
    font-weight: bold;
    color: black;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 18px;
}

.topright {
    text-align: right;
    padding-right: 30px;
}